.headerr{
    background-color: #14183d !important;
    margin: 0% !important;
    height: 10%;
}
.modal-content{
    padding: 0% !important;
    
}
.read{
    margin-left: 5%;
    margin-top: 1.5%;
    font-family: sans-serif;
}
.num{
    margin-right: 5%;
    margin-top: 1.5%;
    font-family: sans-serif;

}